#logs
log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#node module
front-end/node_modules/
backened/node_modules/

# Environment variable
front-end/.env
front-end/.env.local
front-end/.evn.*.local
backened/.env
backened/.env.local
backened/config.env
backened/.env.*.local

# output
front-end/dist/
backened/dist/

